
import("grid")
import("hexView")
importFrom("extrafont",
           "fonttable")
importFrom("gdtools",
           "fontconfig_reinit")
importFrom("grDevices",
           "dev.cur",
           "dev.new",
           "dev.set",
           "pdf",
           "pdfFonts",
           "postscriptFonts",
           "rgb",
           "Type1Font")
importFrom("xml2",
           "read_xml",
           "write_xml",
           "xml_add_child",
           "xml_add_sibling",
           "xml_attr",
           "xml_children",
           "xml_comment",
           "xml_dtd",
           "xml_find_all",
           "xml_find_first",
           "xml_new_root",
           "xml_replace",
           "xml_root",
           "xml_set_attr",
           "xml_set_text",
           "xml_text")

export("readDVI",

       "grid.dvi", "dviGrob",

       "grid.latex", "latexGrob",

       "texEngine", "luatexEngine", "xetexEngine",
       
       "fontPaths")

S3method("print", "DVI")
S3method("dviGrob", "DVI")
S3method("dviGrob", "character")
