
import("grid")
import("hexView")
importFrom("grDevices",
           "dev.cur",
           "dev.new",
           "dev.set",
           "pdf",
           "pdfFonts",
           "postscriptFonts",
           "rgb",
           "Type1Font")
importFrom("xml2",
           "write_xml",
           "xml_add_child",
           "xml_add_sibling",
           "xml_comment",
           "xml_dtd",
           "xml_new_root",
           "xml_root")
importFrom("gdtools",
           "fontconfig_reinit")

export("readDVI",

       "grid.dvi", "dviGrob",

       "grid.latex", "latexGrob",

       "latexEngine", "luatexEngine", "xetexEngine",
       
       "fontPaths")

S3method("print", "DVI")
S3method("dviGrob", "DVI")
S3method("dviGrob", "character")
